<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script type="text/javascript" src="../lib/js/angular.min.js"></script>
        <script type="text/javascript" src="../lib/js/jquery.min.js"></script>
        <script type="text/javascript" src="../lib/js/lodash.js"></script>
        <script type="text/javascript" src="../lib/js/angular-route.js"></script>
        <link rel="stylesheet" href="../assets/css/style.css" media="screen" title="no title">
    </head>
    <body>
        <div class="boContainer" ng-app="linear_movement" ng-controller="boCtrl">
            <div class="boChoice">
                <a ng-click="show = 0">Créer une fiche artiste</a>
                <a ng-click="show = 2">Modifier/supprimer une fiche artiste</a>
                <a ng-click="show = 1">Info Home</a>
            </div>

            <div class="showChoice" ng-if="show === 0">
                <input id="name" type="text" class="inputTitle" placeholder="Nom du groupe...">
                <textarea id="biography" name="name" class="inputCorpus" placeholder="Biographie..."></textarea>
                <input id="facebook" type="text" class="inputTitle" placeholder="facebook...">
                <input id="discorgs" type="text" class="inputTitle" placeholder="discorgs...">
                <input id="resident" type="text" class="inputTitle" placeholder="Resident...">
                <input id="soundcloud" type="text" class="inputTitle" placeholder="soundcloud...">
                <input id="photo" type="text" class="inputTitle" placeholder="Photo...">
                <div class="event">
                    <h1>EVENT N°1</h1>
                    <input id="dateEvent1" type="text" class="inputTitle" placeholder="dateEvent...">
                    <textarea id="descriptEvent1" name="name" class="inputCorpus" placeholder="Description Event..."></textarea>
                    <input id="spotEvent1" type="text" class="inputTitle" placeholder="spotEvent...">
                </div>
                <div class="event">
                    <h1>EVENT N°2</h1>
                    <input id="dateEvent2" type="text" class="inputTitle" placeholder="dateEvent...">
                    <textarea id="descriptEvent2" name="name" class="inputCorpus" placeholder="Description Event..."></textarea>
                    <input id="spotEvent2" type="text" class="inputTitle" placeholder="spotEvent...">
                </div>
                <div class="event">
                    <h1>EVENT N°3</h1>
                    <input id="dateEvent3" type="text" class="inputTitle" placeholder="dateEvent...">
                    <textarea id="descriptEvent3" name="name" class="inputCorpus" placeholder="Description Event..."></textarea>
                    <input id="spotEvent3" type="text" class="inputTitle" placeholder="spotEvent...">
                </div>
                <div class="event">
                    <h1>EVENT N°4</h1>
                    <input id="dateEvent4" type="text" class="inputTitle" placeholder="dateEvent...">
                    <textarea id="descriptEvent4" name="name" class="inputCorpus" placeholder="Description Event..."></textarea>
                    <input id="spotEvent4" type="text" class="inputTitle" placeholder="spotEvent...">
                </div>
                <div class="event">
                    <h1>EVENT N°5</h1>
                    <input id="dateEvent5" type="text" class="inputTitle" placeholder="dateEvent...">
                    <textarea id="descriptEvent5" name="name" class="inputCorpus" placeholder="Description Event..."></textarea>
                    <input id="spotEvent5" type="text" class="inputTitle" placeholder="spotEvent...">
                </div>
                <div class="event">
                    <h1>EVENT N°6</h1>
                    <input id="dateEvent6" type="text" class="inputTitle" placeholder="dateEvent...">
                    <textarea id="descriptEvent6" name="name" class="inputCorpus" placeholder="Description Event..."></textarea>
                    <input id="spotEvent6" type="text" class="inputTitle" placeholder="spotEvent...">
                    <button class="confirm-button" ng-click="addArtist()">Ajouter article</button>
                </div>

                <div class="showChoice" ng-if="show === 1">
                    <textarea id="bioLinear" class="inputCorpus" name="name" placeholder="Description linear_movement...">{{infoHome[0].bioLinear}}</textarea>
                    <input id="contactLinear" type="text" class="inputTitle" value="{{infoHome[0].contact}}" placeholder="contact...">
                    <input id="soundcloudLinear" type="text" class="inputTitle" value="{{infoHome[0].soundcloud}}" placeholder="soundcloud...">
                    <input id="bandcampLinear" type="text" class="inputTitle" value="{{infoHome[0].bandcamp}}" placeholder="bandcamp...">
                    <input id="facebookLinear" type="text" class="inputTitle" value="{{infoHome[0].facebook}}" placeholder="facebook...">
                    <input id="videoLinear" type="text" class="inputTitle" value="{{infoHome[0].video}}" placeholder="URL video...">
                    <input id="backgroundLinear" type="text" class="inputTitle" value="{{infoHome[0].background}}" placeholder="URL background image...">
                    <input id="imageEpLinear" type="text" class="inputTitle" value="{{infoHome[0].EP}}" placeholder="URL image EP...">
                    <button class="confirm-button" ng-click="updateHome()">Update Home infos</button>
                </div>

                <div class="showChoice" ng-if="show === 2">
                    <div ng-repeat="artiste in infoArtiste" class="remove-or-edit">
                        <p>{{artiste.name}}</p>
                        <button class="confirm-button" ng-click="removeArtiste(artiste._id)">Remove Artiste</button>
                        <button class="confirm-button" ng-click="editArtiste(artiste._id)">Edit Artiste</button>
                    </div>
                </div>

                <div class="showChoice" ng-if="show === 3">
                    <input id="nameUpdate" type="text" class="inputTitle" placeholder="Nom du groupe..." value="{{editArtiste.name}}">
                    <textarea id="biographyUpdate" name="name" class="textEvent" placeholder="Biographie...">{{editArtiste.bio}}</textarea>
                    <input id="facebookUpdate" type="text" class="inputTitle" placeholder="facebook..." value="{{editArtiste.facebook}}">
                    <input id="discorgsUpdate" type="text" class="inputTitle" placeholder="discorgs..." value="{{editArtiste.discorgs}}">
                    <input id="residentUpdate" type="text" class="inputTitle" placeholder="Resident..." value="{{editArtiste.resident}}">
                    <input id="soundcloudUpdate" type="text" class="inputTitle" placeholder="Soundcloud..." value="{{editArtiste.soundcloud}}">
                    <input id="photoUpdate" type="text" class="inputTitle" placeholder="Photo..." value="{{editArtiste.photo}}">
                    <input id="dateEvent1Update" type="text" class="inputTitle" placeholder="dateEvent..." value="{{editArtiste.events[0].dateEvent}}">
                    <textarea id="descriptEvent1Update" name="name" class="textEvent" placeholder="Description Event...">{{editArtiste.events[0].descriptEvent}}</textarea>
                    <input id="spotEvent1Update" type="text" class="inputTitle" placeholder="Salle..." value="{{editArtiste.events[0].spotEvent}}">
                    <input id="dateEvent2Update" type="text" class="inputTitle" placeholder="dateEvent..." value="{{editArtiste.events[1].dateEvent}}">
                    <textarea id="descriptEvent2Update" name="name" class="textEvent" placeholder="Description Event...">{{editArtiste.events[1].descriptEvent}}</textarea>
                    <input id="spotEvent2Update" type="text" class="inputTitle" placeholder="Salle..." value="{{editArtiste.events[1].spotEvent}}">
                    <input id="dateEvent3Update" type="text" class="inputTitle" placeholder="dateEvent..." value="{{editArtiste.events[2].dateEvent}}">
                    <textarea id="descriptEvent3Update" name="name" class="textEvent" placeholder="Description Event...">{{editArtiste.events[2].descriptEvent}}</textarea>
                    <input id="spotEvent3Update" type="text" class="inputTitle" placeholder="Salle..." value="{{editArtiste.events[2].spotEvent}}">
                    <input id="dateEvent4Update" type="text" class="inputTitle" placeholder="dateEvent..." value="{{editArtiste.events[3].dateEvent}}">
                    <textarea id="descriptEvent4Update" name="name" class="textEvent" placeholder="Description Event...">{{editArtiste.events[3].descriptEvent}}</textarea>
                    <input id="spotEvent4Update" type="text" class="inputTitle" placeholder="Salle..." value="{{editArtiste.events[3].spotEvent}}">
                    <input id="dateEvent5Update" type="text" class="inputTitle" placeholder="dateEvent..." value="{{editArtiste.events[4].dateEvent}}">
                    <textarea id="descriptEvent5Update" name="name" class="textEvent" placeholder="Description Event...">{{editArtiste.events[4].descriptEvent}}</textarea>
                    <input id="spotEvent5Update" type="text" class="inputTitle" placeholder="Salle..." value="{{editArtiste.events[4].spotEvent}}">
                    <input id="dateEvent6Update" type="text" class="inputTitle" placeholder="dateEvent..." value="{{editArtiste.events[5].dateEvent}}">
                    <textarea id="descriptEvent6Update" name="name" class="textEvent" placeholder="Description Event...">{{editArtiste.events[5].descriptEvent}}</textarea>
                    <input id="spotEvent6Update" type="text" class="inputTitle" placeholder="Salle..." value="{{editArtiste.events[5].spotEvent}}">
                    <button class="confirm-button" ng-click="updateArtiste(editArtiste._id)">Update fiche artiste</button>
                </div>
                <script type="text/javascript" src="../assets/js/app.js"></script>
                <script type="text/javascript" src="../assets/js/controllers/backOfficeCtrl.js"></script>
            </body>
        </html>
