<div class="main-cont" ng-controller="homeCtrl">
  <div class="cont-left" ng-click="playVideo()">
  </div>

  <div class="img-middle draggable" ng-mousedown="changeZIndex(1)"></div>

  <div class="video-middle draggable" ng-click="changeZIndex(2)">
    <iframe class="iframe-home" ng-class="{'iframe-home2': !changeEvent}" ng-src="{{trustSrc(infoHome[0].video)}}" width="640" height="352" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class="info-middle draggable" id="resize" ng-mousedown="changeZIndex(3)">
    <h2>{{infoHome[0].bioLinear}}</h2>
    <div class="cont-contact">
      <a ng-href="{{infoHome[0].contact}}">://  Contact:</a>
      <a target="_blank" ng-href="{{infoHome[0].soundcloud}}">://   Soundcloud:</a>
      <a target="_blank" ng-href="{{infoHome[0].bandcamp}}">://   Bandcamp:</a>
      <a target="_blank" ng-href="{{infoHome[0].facebook}}">://   Facebook:</a>
    </div>
    <div class="cont-contact">
      <div class="" ng-repeat="band in infoArtiste">
        <a ng-href="#/artist/{{band._id}}" >://   {{band.name}}:</a>
      </div>
    </div>
  </div>
  <div class="cont-right">
    <div class="logo"></div>
  </div>
</div>
