//DEJAVUSANS
@font-face {
    font-family: "DejaVu";
    src: url('../../lib/fonts/DejaVuSans/DejaVuSans.ttf');
}
@font-face {
    font-family: "DejaVuSansBold";
    src: url('../../lib/fonts/DejaVuSans/DejaVuSans-Bold.ttf');
}
//DEJAVUSANSMONO
@font-face {
    font-family: "DejaVuSansMono";
    src: url('../../lib/fonts/DejaVuSansMono/DejaVuSansMono.ttf');
}
@font-face {
    font-family: "DejaVuSansMonoBold";
    src: url('../../lib/fonts/DejaVuSansMono/DejaVuSansMono-Bold.ttf');
}

.main-cont {
    position: relative;
    overflow: hidden;
    display: flex;

    .cont-left {
        height: 100vh;
        width: 40%;
        background-size: 100% 100%;
    }

    .cont-right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 60%;
    }

    .cont-right h2 {
        margin-right: 20px;
    }

    .img-middle {
        position: absolute;
        left: 26%;
        top: 23.6%;
        min-height: 600px;
        min-width: 600px;
        // background: url("../images/LM004-Bandcamp.png") no-repeat center;
        background-size: cover;
        z-index: 1;
        cursor: move;
    }

    .video-middle {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 50%;
        min-width: 45%;
        position: absolute;
        left: 54%;
        top: 40%;
        z-index: 2;
        background-color: black;
        cursor: move;

        .iframe-home {
            min-width: 100%;
            position: relative;
            z-index: 1;
            cursor: none;
            // .headers h1 a{
            //   display: none !important;
            // }
            // .headers{
            //   display: none !important;
            // }
        }

        .invisible-cont {
            top: 10%;
            left: 10%;
            width: 80%;
            height: 68%;
            position: absolute;
            z-index: 5;
        }

        .iframe-home2 {
            pointer-events: auto;
        }
    }

    .info-middle {
        position: absolute;
        //min-height: 90%;
        width: 25%;
        // height: 688px;
        // width: 430px;
        background: url("../images/stickies2.png") no-repeat;
        background-size: cover;
        background-color: #C4C4C4;
        left: 60%;
        top: 5%;
        z-index: 3;
        cursor: move;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 8px 19px -4px rgba(0,0,0,0.6);
        padding: 20px;

        h2 {
            font-family: "DejaVuSansBold";
            font-size: 16pt;
        }
    }

    .logo {
        background: url("../images/Logo_linear-72dpi-tailleOk.png") no-repeat center;
        margin-right: 30px;
        margin-bottom: 30px;
        background-size: cover;
        height: 260px;
        width: 24px;
    }
}

.cont-contact {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
    .cont-mail{
        display: flex;

        .contact {
    margin-left: 10px;
    color:white;
    font-weight: 100;
        }
    
    }

    a {
       font-size: 14px;
       line-height: 20px;
        font-family: "DejaVuSansMonoBold";
        text-decoration: none;
        color: black;
        cursor: pointer;
        line-height:120%;
    }

    a:hover {
        color: blue;
        text-decoration: underline;
    }
}

.logo {
    background: url("../images/Logo_linear-72dpi-tailleOk.png") no-repeat center;
    margin-right: 30px;
    margin-bottom: 30px;
    background-size: cover;
    height: 260px;
    width: 24px;
}

.iframe-home .player .controls {
    display: none!important;
}
@media (max-width: 1380px) {
    .main-cont {
        .img-middle {
            min-height: 400px;
            min-width: 400px;
        }

        .video-middle {
            left: 50%;
            top: 32%;
            min-height: 350px;

            .iframe-home {
                height: 300px;
                width: 550px;
            }
        }

        .info-middle {
            height: 500px;
            width: 320px;

            h2 {
                font-size: 12pt;
            }
        }

        .cont-contact {
            margin-top: 20px;
            a {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 1000px) {
    .main-cont {
        .cont-left {
            width: 60%;
        }

        .img-middle {
            width: 450px;
            height: 450px;
            left: 20%;
        }

        .video-middle {
            left: 40%;
            top: 30%;
        }

        .info-middle {
            top: 15%;
            height: 550px;
            width: 350px;

            h2 {
                font-size: 14pt;
            }
        }

        .cont-contact {
            a {
                font-size: 14px;
            }
        }
    }
}
@media (max-width: 768px) {
    .main-cont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .cont-left {
            width: 100%;
            background: url("../images/homeCover.jpg") no-repeat center;
            background-size: 100% 100%;
        }

        .cont-right {
            display: none;
        }

        .img-middle {
            position: relative;
            width: 50%;
            left: 0;
        }

        .info-middle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 50%;
            top: 56.15%;
            width: 50%;
            height: 450px;
            padding-right: 10px;
            padding-left: 0;
            margin: 0;

            h2 {
                padding-top: 0;
                margin-top: 0;
                font-size: 12pt;
                width: 85%;
            }

            .cont-contact {
                font-size: 10px;
                padding-top: 10px;
            }
        }

        .video-middle {
            left: 0;
            height: 300px;
            width: 100%;
            position: relative;

            .iframe-home {
                height: 300px;
                width: 100%;
            }
        }
    }
}
@media (max-width: 720px) {
    .main-cont {
        .img-middle {
            display: none;
        }

        .info-middle {
            left: 0;
            position: relative;
            width: 100%;
            height: 110%;
            padding: 20px;
            padding-top: 45px;

        }
    }
}
