//DEJAVUSANS
@font-face {
    font-family: "DejaVu";
    src: url('../../lib/fonts/DejaVuSans/DejaVuSans.ttf');
}
@font-face {
    font-family: "DejaVuSansBold";
    src: url('../../lib/fonts/DejaVuSans/DejaVuSans-Bold.ttf');
}
//DEJAVUSANSMONO
@font-face {
    font-family: "DejaVuSansMono";
    src: url('../../lib/fonts/DejaVuSansMono/DejaVuSansMono.ttf');
}
@font-face {
    font-family: "DejaVuSansMonoBold";
    src: url('../../lib/fonts/DejaVuSansMono/DejaVuSansMono-Bold.ttf');
}

.main-cont {
    position: relative;
    overflow: hidden;
    display: flex;

    .cont-left {
        height: 100vh;
        width: 40%;
        // background: url("../images/homeCover.jpg") no-repeat center;
        background-size: 100% 100%;
    }

    .cont-right {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 60%;
    }

    .cont-right h2 {
        margin-right: 20px;
    }

    .img-middle {
        position: absolute;
        left: 26%;
        top: 23.6%;
        min-height: 600px;
        min-width: 600px;
        // background: url("../images/LM004-Bandcamp.png") no-repeat center;
        background-size: cover;
        z-index: 1;
        cursor: move;
    }

    .video-middle {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
        width: 750px;
        position: absolute;
        left: 54%;
        top: 40%;
        z-index: 2;
        background-color: black;
        cursor: move;

        .iframe-home {
            position: relative;
            z-index: 1;
            cursor: none;
            // .headers h1 a{
            //   display: none !important;
            // }
            // .headers{
            //   display: none !important;
            // }
        }

        .invisible-cont {
            top: 10%;
            left: 10%;
            width: 80%;
            height: 68%;
            position: absolute;
            z-index: 5;
        }

        .iframe-home2 {
            pointer-events: auto;
        }
    }

    .info-middle {
        position: absolute;
        height: 700px;
        width: 450px;
        background: url("../images/stickies.png") no-repeat center;
        background-size: contain;
        left: 60%;
        top: 5%;
        z-index: 3;
        cursor: move;
        display: flex;
        flex-direction: column;

        h2 {
            font-family: "DejaVuSansBold";
            padding-top: 20px;
            padding-right: 20px;
            padding-left: 20px;
            font-size: 21pt;
        }
    }

    .logo {
        background: url("../images/Logo_linear-72dpi-tailleOk.png") no-repeat center;
        margin-right: 30px;
        margin-bottom: 30px;
        background-size: cover;
        height: 260px;
        width: 24px;
    }
}

.cont-contact {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 20px;

    a {
        font-size: 16px;
        font-family: "DejaVuSansMonoBold";
        width: 150px;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    a:hover {
        color: blue;
        text-decoration: underline;
    }
}

.logo {
    background: url("../images/Logo_linear-72dpi-tailleOk.png") no-repeat center;
    margin-right: 30px;
    margin-bottom: 30px;
    background-size: cover;
    height: 260px;
    width: 24px;
}

.iframe-home .player .controls {
    display: none!important;
}
@media (max-width: 1380px) {
    .main-cont {
        .img-middle {
            min-height: 400px;
            min-width: 400px;
        }

        .video-middle {
            height: 300px;
            width: 550px;

            .iframe-home {
                height: 300px;
                width: 550px;
            }
        }

        .info-middle {
            height: 450px;
            width: 300px;

            h2 {
                font-size: 12pt;
            }
        }

        .cont-contact {
            a {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 768px) {
    .main-cont {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .cont-left {
            width: 100%;
            background: url("../images/homeCover.jpg") no-repeat center;
            background-size: 100% 100%;
        }

        .cont-right {
            display: none;
        }

        .img-middle {
            position: relative;
            min-height: 320px;
            min-width: 50%;
        }

        .info-middle {
            left: 0;
            top: 62.2%;
            width: 50%;
            height: 320px;

            h2 {
                font-size: 10pt;
            }

            .cont-contact {
                font-size: 10px;
                padding-top: 10px;
            }
        }

        .video-middle {
            left: 0;
            height: 300px;
            width: 100%;
            position: relative;

            .iframe-home {
                height: 300px;
                width: 100%;
            }
        }
    }
}
@media (max-width: 720px) {
    .main-cont {
        .img-middle {
            display: none;
        }

        .info-middle {
            position: relative;
            width: 100%;
        }
    }
}
