.button-form{
    border: 1px solid white;
    padding: 15px 30px 10px 30px ;
    margin: 20px;
    cursor: pointer;
    background-color: #87adc7;
    color:white;
}
// .validate{
//     background-color: ##4CAF50;
// }